.card-container{
    display: flex;
    gap:50px;
    padding-left: 2px;
    justify-content: center;
    text-align: center;

}

.btn-container{
   display: flex;
    gap:10px;
    padding-left: 2px;
    /* justify-content: center; */
    text-align: center;
}

.job-details-list{
    display: flex;
    list-style:disc;
    gap: 30px;
}

#available-jobs{
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.btn:hover{
    background-color: blue;
    color:white
}


.section-cls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-cls img{
    margin: 0px auto;
    margin-top:60px ;
}