.card-container{
    display: flex;
    gap:50px;
    padding-left: 2px;
    justify-content: center;
    text-align: center;

}

.btn-container{
   display: flex;
    gap:10px;
    padding-left: 2px;
    /* justify-content: center; */
    text-align: center;
}

.list{
    display: flex;
    list-style:disc;
    gap: 30px;
}